/* =======================
         General
======================= */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; */

/* =======================
         Header
======================= */

header p:first-child {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    padding: 40px;
    width: 40vw;
    margin: 0 auto;
}

header div {
    text-align: center;
}

header div img {
    width: 50vw;
}

header p:nth-of-type(2) {
    text-align: center;
    font-size: 150px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 150px auto;
}

/* =======================
         Main Background
======================= */
main section:first-child {
    background: url("../img/portfolio2.jpg") center/cover no-repeat;
padding: 10vh 5vw 10vh 12vw;
    
}

main section:nth-of-type(2) {
    background: url("../img/portfolio3.png") center/cover no-repeat;
    padding: 10vh 5vw 10vh 12vw;
}

main section:nth-of-type(3) {
    background:url("../img/portfolio4.jpg") center/cover no-repeat;
    padding: 10vh 5vw 10vh 12vw;
    
}

main section:nth-of-type(4) {
    background: url("../img/portfolio5.png") center/cover no-repeat;
    padding: 10vh 5vw 10vh 12vw;
}

/* =======================
         Main Inhalt 1 odd
======================= */
/* main section{
    padding: 150px 0 0 150px;
} */
main section:nth-of-type(odd) p{
    color: #9E9E9E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding:10vh 0 0 10vw;
}

main section:nth-of-type(odd) h2{
    font-family: 'Didact Gothic', sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    margin:60px 0 0 10vw;
}

main section:nth-of-type(odd) div{
    margin:50px;
    padding:20px;
}

main section:nth-of-type(odd) div a{
    font-family: 'Fjalla One', sans-serif;
    color: #FFFFFF;
    border: 2px solid #9E9E9E;
    font-size: 15px;
    padding:10px 20px;
    margin:20vh 0 0 5vw; 
}
main section:nth-of-type(odd) div p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 160px;
    color: #9E9E9E;
    opacity:25%;
    margin:1vh 0 0 65vw;
}
main section:nth-of-type(odd) div a:hover{
    background-color:white;
    color:black;
}
main section:nth-of-type(odd) div a:hover + p{
    color:white;
}
/* =========================
             2 even
========================= */
main section:nth-of-type(even) p{
    color: #666666;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding:10vh 0 0 10vw;
}
main section:nth-of-type(even) h2{
    font-family: 'Didact Gothic', sans-serif;
    color: #000000;
    font-size: 100px;
    margin:60px 0 0 10vw;
}
main section:nth-of-type(even) div{
    margin:50px;
    padding:20px;
}
main section:nth-of-type(even) div a {
    font-family: 'Fjalla One', sans-serif;
    color: #000000;
    border: 2px solid #000000;
    font-size: 15px;
    padding:10px 20px;
    margin:20vh 0 0 5vw; 
}
main section:nth-of-type(even) div p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 160px;
    color: #666666;
    margin:1vh 0 0 65vw;
}
main section:nth-of-type(even) div a:hover{
    background-color:black;
    color:white;
}
main section:nth-of-type(even) div a:hover + p{
    color:black;
}

/* =======================
         Footer
======================= */
footer article {
    background-color: black;
    height: 100vh;
    width: 100vw;
}
footer article h2{
    color:#FFFFFF;
    font-size: 180px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    text-align:center;
    margin:0 auto;
}
footer article div{
    height:30vh;
    width:50vw;
    margin:20vh 0 0 40vw;
}
footer article div p{
    font-family: 'Work Sans', sans-serif;
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
footer article div a{
    font-family: 'Work Sans', sans-serif;
color:#FFFFFF;
font-size:50px;
height:10vh;

}
footer ul li{
    text-align:center;
    margin:25vh auto;
}
footer ul li a{
    font-family: 'Didact Gothic', sans-serif;
    color:#000000;
    font-size:150px;
    text-decoration: none;
    text-align: center;
    
}

